.choosepassengers .box input[type=checkbox] {
  display: none;
}
.choosepassengers .box input[type=checkbox] + label {
  display: block;
}
.choosepassengers .box input[type=checkbox]:checked + label {
  color: #42A5F5;
  border-color: #42A5F5;
}
.choosepassengers .box label {
  transition: all 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  color: #757575;
  padding: 8px;
  border-radius: 2px;
}
.choosepassengers .box label > * {
  margin: 10px 0 0;
  line-height: 1;
  font-size: 14px;
}
.choosepassengers .box label > * span {
  font-weight: normal;
}
.choosepassengers .box label h3 {
  margin-top: 0;
  font-weight: bold;
}
.choosepassengers .footer {
  box-shadow: 0px -2px 3px 0px rgba(50, 50, 50, 0.4);
  z-index: 1;
}
