<style>
	.rmb md-input-container {
		margin: 0 !important;
	}
</style>
<div ng-controller="duigongEClistctrl">
	<md-card class="md-padding" layout="column">
		<br>
		<div layout="row">
			<md-input-container class="md-block ml-nomargin" flex-gt-sm>
				<label>流程状态</label>
				<md-select ng-init="query.order_status" ng-model="query.order_status">
					<md-option value="null">所有</md-option>
					<md-option value="DRAFT">草稿</md-option>
					<md-option value="SUBMITED">待审批</md-option>
					<md-option value="AUDITED">已审批</md-option>
					<md-option value="DISABLED">已作废</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block ml-nomargin" flex-gt-sm>
				<label>业务描述</label>
				<input ng-model="query.reason_desc">
			</md-input-container>
			<md-input-container class="md-block ml-nomargin" flex-gt-sm>
				<label>单号</label>
				<input ng-model="query.fee_reim_code">
			</md-input-container>

			<!--<dr-Currency ngrequired="true" oldcurrencycode="" currencycodemodel="emslmloan.order_type4" currencynamemodel="emslmloan.order_type5" currencymodel="" titlename="货币类型"></dr-Currency>-->

			<md-input-container class="md-block ml-nomargin" flex-gt-sm>
				<md-select dr-Currencyext="" currencylist="currencys" placeholder="货币类型" ng-model="emslmloan.order_type4" style="min-width: 200px;">
					<md-option ng-value="item.itemValue" ng-repeat="item in currencys.data">{{item.currency_name}}({{item.currency_code}})</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div layout="row">
			<div layout="row">
				<div flex class="ml-padding-right">
					<md-input-container class="md-block md-cyan-theme md-input-invalid ml-nomargin">
						<label>开始日期</label>
						<input ng-model="query.begin_date" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd">
					</md-input-container>
				</div>
				<div flex class="ml-padding-right">
					<md-input-container class="md-block md-cyan-theme md-input-invalid ml-nomargin">
						<label>结束日期</label>
						<input ng-model="query.end_date" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd">
					</md-input-container>
				</div>
			</div>
			<div>
				<md-button class="md-raised md-primary" ng-click="loadData()">查询</md-button>
			</div>
		</div>
	</md-card>
	<md-card>
		<div>
			<div class="md-toolbar-tools" layout="row">
				<span>查询结果</span>
				<span flex></span>
				<md-button class="md-primary" aria-label="删除" ng-click="onDelete($event)">
					<i class="iconfont">&#xe68c; 删除</i>
				</md-button>
				<!--<md-button class="md-primary" aria-label="新增日常申请" ng-href="#/duigongEC/richang">
                    <i class="iconfont">&#xe68d; 日常</i>
                </md-button>
                <md-button class="md-primary" aria-label="新增流程" ng-href="#/duigongEC/flowApproveEC">
                    <i class="iconfont">&#xe68d; 流程</i>
                </md-button>
                <md-button class="md-primary" aria-label="查看流程" ng-href="#/duigongEC/approveEC">
                    <i class="iconfont">&#xe68d; 查看流程</i>
                </md-button>-->
			</div>
		</div>
		<md-divider></md-divider>
		<md-table-container>
			<table md-table md-row-select multiple ng-model="selected" md-progress="promise">
				<thead md-head md-order="query.order" md-on-reorder="getDesserts">
					<tr md-row>
						<th md-column md-numeric>单号</th>
						<th md-column md-numeric>业务描述</th>
						<th md-column md-numeric>金额/币种</th>
						<th md-column md-numeric>币种</th>
						<th md-column md-numeric>流程状态</th>
						<th md-column md-numeric>日期</th>
						<th md-column md-numeric>操作</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row md-select="item" md-select-id="fee_reim_id" md-auto-select ng-repeat="item in duigongEClist.data.datalist">
						<td md-cell ng-click="go('/duigongEC/approveEC/'+item.fee_reim_id, '') ">{{item.fee_reim_code}}</td>
						<td md-cell>{{item.sensitive_info}}</td>
						<td md-cell>{{item.apply_reim_amount}}/<span style="font-size: 0.8em;color:#A4A4A4;">({{item.currency_code}})</span></td>
						<!--<td md-cell>{{item.currency_name}}</td>-->
						<td md-cell>{{item.currency_name}}</td>
						<td md-cell ng-bind-html="item.order_status|order_status"></td>
						<td md-cell>{{item.reim_date|date:"yyyy-MM-dd"}}</td>
						<td md-cell>
							<a ng-click="go('/duigongEC/richang/'+item.fee_reim_id+'', '') " style="cursor: pointer;color: blue">编辑</a>
							<a ng-click="onDelete($event)" style="cursor: pointer;color: blue">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
		<md-table-pagination md-label="{page: '页码导航：', rowsPerPage: '每页数据：', of: '总条数：'}" md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{duigongEClist.data.page.totalRow}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
	</md-card>
	<md-button aria-label="menu" class="md-fab ml-bottom-fab" ng-click="go('/duigongEC/richang','新增单据')">
		<md-tooltip md-direction="left">
			新增单据
		</md-tooltip>
		<md-icon class="iconfont">&#xe631;</md-icon>
	</md-button>
</div>