<div ng-controller="quannianController">
<md-dialog aria-label="修改功能" ng-cloak style="min-width: 50%" id="resource-dialog2-detail">
    <form name="addresource1" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">值班类型修改</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="width:300px; height:200px;padding-top: 0px;padding-bottom: 0px">

                <div class="demo-tab" style="padding: 25px 25px 0 25px; text-align: center;">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>类型</label>
                        <input ng-model="resource.note" type="text">
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary md-raised" ng-click="delete()"  style="background-color:red;color: white;float: right;margin-right: 3%;">删除</md-button>
            <!--<span flex></span>-->
            <md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"
                       ng-disabled="addresource1.$invalid" disabled="disabled">确定</md-button>

        </md-dialog-actions>
    </form>
</md-dialog>
</div>

<style>
    #resource-dialog2-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #resource-dialog2-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>