<div ng-controller="ruleSettingCtrl" ng-cloak class="md-inline-form">
	<md-card>
		<div layout="row" class="padding-left-right-16">
			<div flex class="padding-right">
				<md-input-container class="md-block md-cyan-theme md-input-invalid">
					<label>ERP实例</label>
					<md-select ng-model="query.type">
						<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
							{{x.name}}
						</md-option>
					</md-select>
				</md-input-container>

			</div>
			<div flex class="padding-right">
				<md-input-container class="md-block md-cyan-theme md-input-invalid">
					<label>单据类型</label>
					<md-select ng-model="query.budgetCompany">
						<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
							{{x.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container class="md-block md-cyan-theme md-input-invalid">
					<label>同步划收</label>
					<md-select ng-model="query.payCompany">
						<md-option ng-repeat="x in query.filter.payCompanyList" value="{{x.id}}">
							{{x.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
		</div>

		<div layout="row" class="padding-left-right-16">
			<div flex class="padding-right">
				<md-input-container class="md-block md-cyan-theme md-input-invalid" style="margin-top:0">
					<label>状态</label>
					<md-select ng-model="query.type">
						<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
							{{x.name}}
						</md-option>
					</md-select>
				</md-input-container>

			</div>
			<div flex class="padding-right">
				<md-input-container class="md-block md-cyan-theme md-input-invalid" style="margin-top:0">
					<label>创建人</label>
					<md-select ng-model="query.budgetCompany">
						<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
							{{x.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container class="md-block md-cyan-theme md-input-invalid" style="margin-top:0">
					<label>复核人</label>
					<md-select ng-model="query.payCompany">
						<md-option ng-repeat="x in query.filter.payCompanyList" value="{{x.id}}">
							{{x.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
		</div>

	</md-card>
	<div layout="row">
		<div flex="25">
			<md-card>
				<md-card-title style="border-bottom:1px solid #eee;padding:20px 16px 16px">
					<md-card-title-text>
						<span class="md-headline" style="font-size:16px;color:#777;">凭证列表</span>
					</md-card-title-text>
				</md-card-title>
				<md-list flex>
					<md-list-item class="md-3-line" ng-repeat="item in cerificateList" ng-class="border[$index]" ng-click="isCurrent($index)">
						<div class="md-list-item-text" layout="column">
							<p>{{ item.num }}</p>
							<p>{{ item.company }}</p>
							<p>{{ item.type }}</p>
						</div>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</md-card>
		</div>
		<div flex>
			<md-card>
				<md-content>
				<md-card-title style="border-bottom:1px solid #eee;padding:20px 16px 16px">
					<md-card-title-text>
						<span class="md-headline" style="font-size:16px;color:#777;">凭证1</span>
					</md-card-title-text>
				</md-card-title>
				<div layout="row" class="padding-left-right-16">
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>入账单位</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>

					</div>
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>预凭证类型</label>
							<md-select ng-model="query.budgetCompany">
								<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>总账日期</label>
							<md-select ng-model="query.payCompany">
								<md-option ng-repeat="x in query.filter.payCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>

				<div layout="row" class="padding-left-right-16">
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>供应商数据来源</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>

					</div>
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>供应商</label>
							<md-select ng-model="query.budgetCompany">
								<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>供应商地址</label>
							<md-select ng-model="query.payCompany">
								<md-option ng-repeat="x in query.filter.payCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>
				<div layout="row" class="padding-left-right-16">
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>是否生成付款单</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>

					</div>
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>是否循环</label>
							<md-select ng-model="query.budgetCompany">
								<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>循环规则</label>
							<md-select ng-model="query.payCompany">
								<md-option ng-repeat="x in query.filter.payCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>
				<div layout="row" class="padding-left-right-16">
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>币种</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>

					</div>
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>摘要</label>
							<md-select ng-model="query.budgetCompany">
								<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
					</div>
				</div>
				</md-content>
				<md-content>
				<md-table-container>
					<!--<table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected" md-progress="promise">-->
					<table data-md-table data-ng-model="selected" md-progress="promise" class="ml-text-nowrap">
						<thead md-head md-on-reorder="getDesserts">
							<tr md-row>
								<th md-column>借/贷</th>
								<th md-column>是否循环</th>
								<th md-column>循环规则</th>
								<th md-column>会记科目取值</th>
								<th md-column>会计科目编码</th>
								<th md-column>会计科目名称</th>
								<th md-column>金额</th>
								<th md-column>摘要</th>
							</tr>
						</thead>
						<tbody md-body>
							<!--<tr md-row md-select="item" md-select-id="budget_templet_id" ng-repeat="item in feeapplylist.data.datalist" md-auto-select="options.autoSelect">-->
							<tr md-row ng-repeat="item in queryTable.appdata" ng-click="goList()">
								<td md-cell>{{item.jiedai}}</td>
								<td md-cell>{{item.circulation}}</td>
								<td md-cell>{{item.rule}}</td>
								<td md-cell>{{item.value}}</td>
								<td md-cell>{{item.code}}</td>
								<td md-cell>{{item.name}}</td>
								<td md-cell>{{item.money}}</td>
								<td md-cell>{{item.dec}}</td>
							</tr>

						</tbody>
					</table>

				</md-table-container>			
			</md-content>
			</md-card>
			<md-card>
				<md-content>
				<md-card-title style="border-bottom:1px solid #eee;padding:20px 16px 16px">
					<md-card-title-text>
						<span class="md-headline" style="font-size:16px;color:#777;">凭证2</span>
					</md-card-title-text>
				</md-card-title>
				<div layout="row" class="padding-left-right-16">
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>入账单位</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>

					</div>
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>预凭证类型</label>
							<md-select ng-model="query.budgetCompany">
								<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>总账日期</label>
							<md-select ng-model="query.payCompany">
								<md-option ng-repeat="x in query.filter.payCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>

				<div layout="row" class="padding-left-right-16">
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>供应商数据来源</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>

					</div>
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>供应商</label>
							<md-select ng-model="query.budgetCompany">
								<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>供应商地址</label>
							<md-select ng-model="query.payCompany">
								<md-option ng-repeat="x in query.filter.payCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>
				<div layout="row" class="padding-left-right-16">
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>是否生成付款单</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>

					</div>
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>是否循环</label>
							<md-select ng-model="query.budgetCompany">
								<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>循环规则</label>
							<md-select ng-model="query.payCompany">
								<md-option ng-repeat="x in query.filter.payCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>
				<div layout="row" class="padding-left-right-16">
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>币种</label>
							<md-select ng-model="query.type">
								<md-option ng-repeat="x in query.filter.typeList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>

					</div>
					<div flex class="padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>摘要</label>
							<md-select ng-model="query.budgetCompany">
								<md-option ng-repeat="x in query.filter.budgetCompanyList" value="{{x.id}}">
									{{x.name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
					</div>
				</div>
				</md-content>
				<md-content>
				<md-table-container>
					<!--<table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected" md-progress="promise">-->
					<table data-md-table data-ng-model="selected" md-progress="promise" class="ml-text-nowrap">
						<thead md-head md-on-reorder="getDesserts">
							<tr md-row>
								<th md-column>借/贷</th>
								<th md-column>是否循环</th>
								<th md-column>循环规则</th>
								<th md-column>会记科目取值</th>
								<th md-column>会计科目编码</th>
								<th md-column>会计科目名称</th>
								<th md-column>金额</th>
								<th md-column>摘要</th>
							</tr>
						</thead>
						<tbody md-body>
							<!--<tr md-row md-select="item" md-select-id="budget_templet_id" ng-repeat="item in feeapplylist.data.datalist" md-auto-select="options.autoSelect">-->
							<tr md-row ng-repeat="item in queryTable.appdata" ng-click="goList()">
								<td md-cell>{{item.jiedai}}</td>
								<td md-cell>{{item.circulation}}</td>
								<td md-cell>{{item.rule}}</td>
								<td md-cell>{{item.value}}</td>
								<td md-cell>{{item.code}}</td>
								<td md-cell>{{item.name}}</td>
								<td md-cell>{{item.money}}</td>
								<td md-cell>{{item.dec}}</td>
							</tr>

						</tbody>
					</table>

				</md-table-container>			
			</md-content>
			</md-card>

		</div>

	</div>

</div>