<md-dialog aria-label="查看详情" ng-cloak style="min-width: 50%" id="processbrule1-dialog2-detail">
    <form name="addprocessbrule1" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">查看详情</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top: 0px;padding-bottom: 0px">

                <div class="demo-tab" style="padding: 25px 25px 0 25px; text-align: center;">

                    <!--<md-input-container class="md-block" flex-gt-sm style="text-align: left">-->
                        <!--<label>模块</label>-->
                        <!--<md-select ng-model="processbrule1.form_type" ng-change="getordertype(processbrule1.form_type)" required disabled="true">-->
                            <!--<md-option ng-repeat="type in ctype" value="{{type.itemValue}}">{{type.itemName}}</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-block" flex-gt-sm style="text-align: left">-->
                        <!--<label>单据类型</label>-->
                        <!--<md-select ng-model="processbrule1.order_type" required disabled="true">-->
                            <!--<md-option ng-repeat="type in ordertype" value="{{type.itemValue}}">{{type.itemName}}</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-block" flex-gt-sm style="text-align: left">-->
                        <!--<label>预算主体层级</label>-->
                        <!--<md-select ng-model="processbrule1.mainorg_layer" required disabled="true">-->
                            <!--<md-option ng-repeat="att in attribute" value="{{att.itemValue}}">{{att.itemName}}</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-block" flex-gt-sm style="text-align: left">-->
                        <!--<label>基础科目</label>-->
                        <!--<md-select ng-model="processbrule1.fee_type_id" ng-required="processbrule1.form_type == 'EA' || processbrule1.form_type == 'EC'" disabled="true">-->
                            <!--<md-option ng-repeat="basic in basicdata" value="{{basic.fee_type_id}}">{{basic.fee_type_name}}</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-block" flex-gt-sm style="text-align: left">-->
                        <!--<label>流程分支</label>-->
                        <!--<md-select ng-model="processbrule1.branch_code" required disabled="true">-->
                            <!--<md-option ng-repeat="att in rulesub" value="{{att.itemValue}}">{{att.itemName}}</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>模块</label>
                        <input ng-model="processbrule1.form_type_name" type="text" disabled="true">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>单据类型</label>
                        <input ng-model="processbrule1.order_type_name" type="text" disabled="true">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>预算主体层级</label>
                        <input ng-model="processbrule1.mainorg_layer_name" type="text" disabled="true">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>基础科目</label>
                        <input ng-model="processbrule1.fee_type_name" type="text" disabled="true">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>流程分支</label>
                        <input ng-model="processbrule1.branch_code" type="text" disabled="true">
                    </md-input-container>


                    <md-input-container class="md-block" flex-gt-sm>
                        <label>金额>=</label>
                        <input ng-model="processbrule1.start_amount" type="number" disabled="true">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>金额<</label>
                        <input ng-model="processbrule1.end_amount" type="number" disabled="true">
                    </md-input-container>


                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>

            <md-button ng-if="processbrule1.status == '1'" class="md-primary md-raised" ng-click="delete()"  style="background-color:red;color: white;float: right;margin-right: 3%;">作废</md-button>

        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    /*#processbrule1-dialog2-detail .md-datepicker-input-container.md-datepicker-invalid {*/
        /*border-bottom-color: rgb(224,224,224);*/
    /*}*/
    #processbrule1-dialog2-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #processbrule1-dialog2-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>