<md-dialog aria-label="流程数据配置" ng-cloak style="min-width: 90%" id="workflow-dialog3-detail" ng-click="cancelclick($event,$index)">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 style="color: white">流程数据配置</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" style="background-color: #F2F2F2;">
        <div class="md-dialog-content" flex="30" style="padding: 0px;margin: 10px 24px 0 24px;background-color: white;">
            <md-radio-group ng-model="select_id" >
                <table class="table ng-scope">
                    <thead>
                    <tr>
                        <th class="ng-binding ng-scope" colspan="3" style="background-color: #FAFAFA">
                            <md-button style="margin: 0;cursor: pointer;color:#548ADA;float: right;margin-left: 13px" ng-click="deleteparms11()" ng-disabled="showdelete1"><md-icon md-svg-src="img/icons/delete.svg" style="margin-right: 3px"></md-icon>删除</md-button>
                            <md-button style="margin: 0;cursor: pointer;color:#548ADA;float: right" ng-click="newparms()"><md-icon md-svg-src="img/icons/add.svg" style="margin-right: 3px"></md-icon>新增</md-button>

                        </th>
                    </tr>
                    <tr>
                        <th class="ng-binding ng-scope"></th>
                        <th class="ng-binding ng-scope">数据源名称</th>
                        <th class="ng-binding ng-scope">类名</th>
                    </tr>
                    </thead>
                    <tbody class="md-caption">
                    <tr class="ng-scope" ng-repeat="hinvit in datasource" ng-click="findparms(hinvit.id)" style="cursor: pointer">
                        <td class="ng-binding ng-scope">
                            <!--<input name="tbDss_rowSelect" type="radio" ng-model="select_id" value="{{hinvit.data_bean_id}}">-->
                            <md-radio-button ng-value="hinvit.id" class="md-primary" style="margin-bottom: 0px"></md-radio-button>
                        </td>
                        <td class="ng-binding ng-scope">{{hinvit.datasource_name}}</td>
                        <td class="ng-binding ng-scope">{{hinvit.data_bean_method}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-radio-group>
        </div>
        <div class="md-dialog-content" flex="70" style="padding: 0px;margin: 10px 24px 0 24px;background-color: white;">
            <form name="addparms" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
                <md-toolbar style="background-color: #FAFAFA;min-height: 41px;max-height: 41px;border-bottom: 1px solid #DDDDDD;color: black">
                    <div class="md-toolbar-tools">
                        <h4>数据源</h4>
                        <span flex></span>
                        <md-button style="cursor: pointer;font-size: 16px;margin-right: 5px;color: black" ng-disabled="addparms.$invalid" disabled="disabled" ng-hide="showlist1"
                                   ng-click="saveparms()">
                            <md-icon md-svg-src="img/icons/add.svg" style="margin-right: 3px"></md-icon>保存
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content ng-hide="showlist1">
                    <div class="demo-tab" style="padding: 0px 25px 0 25px; text-align: center;">


                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>数据源beanid</label>
                                <input ng-model="params_workflow.data_bean_id" type="text" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>数据源名称</label>
                                <input ng-model="params_workflow.datasource_name" type="text" required>
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>接口类方法名</label>
                            <input ng-model="params_workflow.data_bean_method" type="text" required>
                        </md-input-container>

                        <div layout-gt-sm="row">
                            <span>[注意]:方法必须返回是MAP<String,Object>,方法参数必须是CdpWfParameterPOJO</span>
                        </div>

                    </div>
                </md-dialog-content>

                <md-toolbar style="background-color: #FAFAFA;min-height: 41px;max-height: 41px;border-bottom: 1px solid #DDDDDD;color: black">
                    <div class="md-toolbar-tools">
                        <h4>字段列表</h4>
                        <span flex></span>
                        <md-button style="cursor: pointer;font-size: 16px;margin-right: 5px;color: black;" ng-click="addparms1()" ng-hide="showlist1">添加</md-button>
                        <md-button style="cursor: pointer;font-size: 16px;color: black;" ng-disabled="addtablealldelete" ng-click="deleteparms()" ng-hide="showlist1">删除</md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content ng-hide="showlist1">
                    <table class="table ng-scope" style="background-color: white">
                        <thead>
                        <tr>
                            <th class="ng-binding ng-scope" style="width: 40px;">
                                <md-checkbox ng-click="addtoggle2()" ng-model="draftSelectcheck" style="margin-bottom: 0px"></md-checkbox>
                            </th>
                            <th class="ng-binding ng-scope" style="width: 30%;">字段编码</th>
                            <th class="ng-binding ng-scope" style="width: 30%;">字段名称</th>
                            <th class="ng-binding ng-scope" style="width: 30%;">字段类型</th>
                        </tr>
                        </thead>
                        <tbody class="md-caption">
                        <tr ng-repeat="hinvit in cdp_wf_params | filter: myFilter" class="ng-scope">
                            <td class="ng-binding ng-scope">
                                <md-checkbox ng-checked="addexists1(hinvit.option_id, selected1)" ng-click="addtoggle1(hinvit.option_id, selected1)" style="margin-bottom: 0px"> </md-checkbox>
                            </td>
                            <td class="ng-binding ng-scope" ng-click="(hinvit.fid0) = true;okclick0($event,$index)" ng-class="$index+'fid'">
                                <span ng-if="!(hinvit.fid0)">{{hinvit.field_id}}</span>
                                <input ng-model="hinvit.field_id" type="text" ng-show="(hinvit.fid0)" style="width: 100%;margin: 0;height: 100%;" required>
                            </td>
                            <td class="ng-binding ng-scope" ng-click="(hinvit.fname0) = true;okclick($event,$index)" ng-class="$index+'fname'">
                                <span ng-if="!(hinvit.fname0)">{{hinvit.field_name}}</span>
                                <input ng-model="hinvit.field_name" type="text" ng-show="(hinvit.fname0)" style="width: 100%;margin: 0;height: 100%;" required>
                            </td>
                            <td class="ng-binding ng-scope" ng-click="(hinvit.ftype0) = true;okclick1($event,$index)" ng-class="$index+'ftype'">
                                <span ng-if="!(hinvit.ftype0)">{{hinvit.field_type == 'number'? '数字':'字符串'}}</span>
                                <select ng-model="hinvit.field_type" ng-show="(hinvit.ftype0)" style="width: 100%;margin: 0;height: 100%;" required>
                                    <option value="number">数字</option>
                                    <option value="string">字符串</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-dialog-content>

            </form>
        </div>
    </md-dialog-content>
    <!--<md-dialog-actions>-->
    <!--<span flex></span>-->
    <!--<md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"-->
    <!--ng-disabled="addworkflow.$invalid" disabled="disabled">保存</md-button>-->

    <!--</md-dialog-actions>-->
</md-dialog>

<style>
    #workflow-dialog3-detail .md-datepicker-input-container.md-datepicker-invalid {
        border-bottom-color: rgb(224,224,224);
    }
    #workflow-dialog3-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #workflow-dialog3-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>