<md-dialog aria-label="Mango (Fruit)">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>账务明细</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">
						<i class="iconfont">&#xe634;</i>
					</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div layout="column" style="width:400px;">
					<md-input-container>
						<label>事由</label>
						<input ng-model="form.reason_desc" type="text">
					</md-input-container>
					<md-input-container>
						<label>金额</label>
						<input ng-model="form.apply_amount" type="number">
					</md-input-container>
					<div layout="row">
						<ng-Budgetunit></ng-Budgetunit>
					</div>
					<div layout="row">
						<ng-Busiorg></ng-Busiorg>
					</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button class="md-primary" ng-click="answer(form)">
				确定
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>