<div ng-controller="videoHistoryVersionCtrl" ng-cloak class="md-inline-form">
	<md-card>

		<md-table-container>
			<table md-table multiple ng-model="selected" md-progress="promise" class="ml-text-nowrap">
				<thead md-head md-row-select>
					<tr md-row>
						<th md-column>
							版本号
						</th>
						<th md-column>
							更新时间
						</th>
						<th md-column>
							更新人
						</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row ng-repeat="item in query.appdata">
						<td md-cell><span>{{item.versionNum}}</span></td>
						<td md-cell><span>{{item.updateTime}}</span></td>
						<td md-cell><span>{{item.updatePeople}}</span></td>

					</tr>
				</tbody>
			</table>
		</md-table-container>
		<!-- 表格导航开始 -->
		<md-table-pagination md-label="{page: '页码导航：', rowsPerPage: '每页数据：', of: '，总条数：'}" md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page_number" md-total="{{query.total}}" md-on-paginate="getData" md-page-select></md-table-pagination>
		<!-- 表格导航结束 -->
		<!-- 表格结束 -->
	</md-card>
	<div>