<div layout="row" flex>
  <div layout="row" flex="50">
  		<md-input-container class="md-block" flex="90" >
			<label>起始地点</label>
			<input ng-model="account.fromAreaName" type="text">
		</md-input-container>
  </div>
  
  <div layout="row" flex="50">
     <md-input-container class="md-block" flex="90">
			<label>目地地点</label>
			<input ng-model="account.toAreaName" type="text">
		</md-input-container>
  </div>
</div>


<div layout="row" flex>
  <div layout="row" flex="50">
  	<md-datepicker ng-model="account.datestring" md-placeholder="发生日期" style="margin-top:15px;">
		</md-datepicker>
  </div>
  
  <div layout="row" flex="50">
  </div>
</div>