<div layout="row" flex>
  <div layout="row" flex="50">
  		<md-datepicker ng-model="editAccount.datestring" md-placeholder="发生日期" style="margin-top:15px;margin-bottom:0;">
		</md-datepicker>
  </div>
  
  <div layout="row" flex="50">
      	<md-input-container class="md-block" flex="90" style="margin-bottom:0;">
    		<label>发生地点</label>
    		<!--<md-icon class="name"><i class="iconfont">&#xe667;</i></md-icon>-->
    		<input  ng-model="editAccount.happenAddress"/>
    	</md-input-container>
  </div>
</div>