
<div ng-controller="addchakanCtrl"  layout="row" layout-align="center center" >
    <md-card flex class="ml-fontsize-14">
        <div flex class="bgcolor md-whiteframe-2dp ml-lineheight-36" style="border: 0;">还款单</div>
        <div layout="row" flex ng-if="stateFlag">
            <md-input-container class="md-block" flex>
                <label>还款单编号</label>
                <input/>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>还款人</label>
                <input/>
            </md-input-container>
        </div>
        <div layout="row" flex>
            <md-input-container class="md-block" flex>
                <label>还款日期</label>
                <input ng-model="query.begin_date" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>入账单位</label>
                <input/>
            </md-input-container>
        </div>
        <div layout="row" flex>

            <md-input-container class="md-block" flex>
                <label>还款总额</label>
                <input/>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>还款币种</label>
                <md-select ng-model="moneyType">
                    <md-option value="null">人民币</md-option>
                    <md-option value="DRAFT">美元</md-option>
                    <md-option value="SUBMITED">日元</md-option>
                    <md-option value="AUDITED">欧元</md-option>
                    <md-option value="DISABLED">港元</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" flex>
            <md-input-container class="md-block" flex>
                <label>来源单号</label>
                <input/>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>来源系统</label>
                <input/>
            </md-input-container>
        </div>
        <div layout="row" flex>
            <md-input-container class="md-block" flex>
            <label>单据类型</label>
            <input/>
        </md-input-container>
            <md-input-container class="md-block" flex>
                <label>业务描述</label>
                <input/>
            </md-input-container>
        </div>
        <div layout="row" flex>
            <md-input-container class="md-block" flex>
                <label>供应商类型</label>
                <md-select ng-model="supplierType">
                    <md-option value="null">对公业务</md-option>
                    <md-option value="null1">个人业务</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>供应商名称</label>
                <input/>
            </md-input-container>
        </div>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised  md-primary" ng-if="stateFlag" ng-click="state()">收起</md-button>
            <md-button class="md-raised  md-primary"  ng-if="!stateFlag"  ng-click="state()">展开</md-button>
            <md-button class="md-raised md-primary">查询</md-button>
        </section>

        <div flex class="bgcolor md-whiteframe-2dp ml-lineheight-36 ml-marginT-20" style="border: 0;">关联借款单</div>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                <tr md-row>
                    <th md-column md-order-by="nameToLower"><span>借款单号</span></th>
                    <th md-column md-numeric md-order-by="calories.value"><span>需还款金额</span></th>
                    <th md-column md-numeric>已还款金额</th>
                    <th md-column md-numeric>本次还款金额</th>
                    <th md-column md-numeric>本次多还金额</th>
                    <th md-column md-numeric>币种编码</th>
                    <th md-column md-numeric>操作</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data">
                    <td md-cell>{{dessert.name}}</td>
                    <td md-cell>{{dessert.calories.value}}</td>
                    <td md-cell>{{dessert.fat.value | number: 1}}</td>
                    <td md-cell>{{dessert.carbs.value}}</td>
                    <td md-cell>{{dessert.protein.value | number: 1}}</td>
                    <td md-cell>{{dessert.sodium.value}}</td>
                    <td md-cell>{{dessert.calcium.value}}{{dessert.calcium.unit}}</td>
                    <td md-cell>{{dessert.iron.value}}{{dessert.iron.unit}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
        <div layout="row">
            <div class="ml-textalign-right" flex>
                <md-button class="md-raised md-primary">提交</md-button>
            </div>
        </div>
    </md-card>
</div>