<md-dialog aria-label="新增菜单" ng-cloak style="min-width: 50%" id="menudefine-dialog1-detail">
    <form name="addmenudefine" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">新增菜单</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top: 0px;padding-bottom: 0px">

                <div class="demo-tab" style="padding: 25px 25px 0 25px; text-align: center;">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>上级菜单</label>
                        <input ng-model="menudefine.parentName" type="text" readonly>
                        <!--<a>更改上级菜单</a>-->
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>菜单名称(必填)</label>
                        <input ng-model="menudefine.name" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>页面路径(必填)</label>
                        <input ng-model="menudefine.url" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="text-align: left;padding-top: 20px;padding-bottom: 20px;">
                        <label>是否显示</label>
                        <md-select ng-model="menudefine.visible">
                            <md-option value="0">是</md-option>
                            <md-option value="1">否</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>描述(必填)</label>
                        <input ng-model="menudefine.description" type="text">
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"
                       ng-disabled="addmenudefine.$invalid" disabled="disabled">确定</md-button>

        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    /*#menudefine-dialog1-detail .md-datepicker-input-container.md-datepicker-invalid {*/
        /*border-bottom-color: rgb(224,224,224);*/
    /*}*/
    #menudefine-dialog1-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #menudefine-dialog1-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>