<md-dialog aria-label="新增功能" ng-cloak style="min-width: 50%" id="resource-dialog1-detail">
    <form name="addresource" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">新增功能</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top: 0px;padding-bottom: 0px">

                <div class="demo-tab" style="padding: 25px 25px 0 25px; text-align: center;">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>功能名称(必填)</label>
                        <input ng-model="resource.name" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>资源地址(必填)</label>
                        <input ng-model="resource.url" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>描述</label>
                        <input ng-model="resource.note" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="text-align: left">
                        <label>是否生效(必选)</label>
                        <md-select ng-model="resource.status" required>
                            <md-option value="Y">可用</md-option>
                            <md-option value="N">不可用</md-option>
                        </md-select>
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"
                       ng-disabled="addresource.$invalid" disabled="disabled">确定</md-button>

        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    /*#resource-dialog1-detail .md-datepicker-input-container.md-datepicker-invalid {*/
        /*border-bottom-color: rgb(224,224,224);*/
    /*}*/
    #resource-dialog1-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #resource-dialog1-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>