<div ng-controller="personalCtrl" layout="column" ng-cloak class="personalCenter">
	<div ng-controller="gaiqianConfirmCtrl" class="gaiqianConfirm">
		<md-card class="ml-padding-20 detail-main-mid  ml-textalign-center ml-fontsize-14">
			<div class="blue-line ml-fontsize-15 ml-textalign-left "><span></span>改签完成</div>
			<div layout="row" class="ml-color-73 detail-main-mid-top ml-lineheight-36  ml-marginT-20 ">
				<div flex="20">代理商信息/订单号</div>
				<div flex>起飞-到达</div>
				<div flex>航班日期</div>
				<div flex>航班号</div>
				<div flex>订单状态</div>
				<div flex>快递状态</div>
				<div flex>订单总价</div>
				<div flex>订单日期</div>
				<div flex>操作</div>
			</div>
			<div layout="row" class="ml-marginT-20 tuikuan-main-bot">
				<div flex="20">23234343434343</div>
				<div flex>
					<div>08:30 白云机场</div>
					<div>08:30 白云机场</div>
				</div>
				<div flex>2016-05-05</div>
				<div flex>353</div>
				<div flex class="ml-color-blue">改签完成</div>
				<div flex>无需快递</div>
				<div flex>¥987</div>
				<div flex>2016-01-01</div>
				<div flex class="ml-color-blue">退票改签查看</div>
			</div>
		</md-card>
		
	</div>
</div>