<div ng-controller="personalCtrl" layout="column" ng-cloak class="personalCenter">
	<div ng-controller="tuikuanCtrl" class="tuikuan">
		<md-card class="ml-padding-20">
			<div class="blue-line"><span></span>退款金额 <em class="ml-color-73">待核算...</em></div>
			<div class="ml-margintb-20 detail-main-mid-top ml-padding-20 ml-textalign-center">
				<div layout="row" class="ml-fontsize-14 container" flex="80" flex-offset="10">
					<div flex class="item active">
						<div>提交成功</div>
						<div class="ml-color-73">2016-01-21<em>15:30</em></div>
					</div>
					<div flex class="item">
						<div>退款审核</div>
						<div class="ml-color-73">2016-01-21<em>15:30</em></div>
					</div>
					<div flex class="item">
						<div>退款确认</div>
						<div class="ml-color-73">2016-01-21<em>15:30</em></div>
					</div>
					<div flex class="item">
						<div>完成</div>
						<div class="ml-color-73">2016-01-21<em>15:30</em></div>
					</div>
				</div>
			</div>
			<div class="tuikuan-main-bot container-bot ml-color-73"  flex-offset="25">
				<div layout="row" class="tuikuan-bot-list ml-paddingl-10 item active">
					<div>2016-01-21<em>15:30</em></div>
					<div class="tuipiao-marginl">代理商审核:请耐心等待代理商审核</div>
				</div>
				<md-divider></md-divider>
				<div layout="row" class="tuikuan-bot-list ml-paddingl-10 item">
					<div>2016-01-21<em>15:30</em></div>
					<div class="tuipiao-marginl">去哪儿网处理:申请提交已成功</div>
				</div>
				<md-divider></md-divider>
			</div>
		</md-card>
	</div>
</div>