<md-dialog aria-label="批量失效" ng-cloak style="min-width: 30%" id="budgeteditlistedit-dialog1-detail">
    <form name="addbudgeteditlistedit" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">批量失效</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top: 0px;padding-bottom: 0px">

                <div class="demo-tab" style="padding: 25px 25px 0 25px; text-align: center;">

                    <p>失效后您勾选的预算单元将不可使用,</p>
                    <p>是否确认失效?</p>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <!--<span flex></span>-->
            <md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"
                       ng-disabled="addbudgeteditlistedit.$invalid" disabled="disabled">确认失效</md-button>
            <md-button class="md-primary md-raised" ng-click="cancel()"  style="color: white;float: right"
                       ng-disabled="addbudgeteditlistedit.$invalid" disabled="disabled">取消</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    /*#budgeteditlistedit-dialog1-detail .md-datepicker-input-container.md-datepicker-invalid {*/
        /*border-bottom-color: rgb(224,224,224);*/
    /*}*/
    #budgeteditlistedit-dialog1-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #budgeteditlistedit-dialog1-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>