<md-dialog aria-label="预算金额查询" ng-cloak style="min-width: 50%" id="budgeteditlistedit-dialog3-detail">
    <form name="addbudgeteditlistedit" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">预算金额查询</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top: 0px;padding-bottom: 0px">
                <table class="table ng-scope" style="margin-bottom: 0px">
                    <tr>
                        <td><span style="float: right">预算类型：</span></td>
                        <td>
                            <md-select ng-model="query.budget_type" style="margin: 0px;">
                                <md-option value="">全部</md-option>
                                <md-option value="initial">初始化</md-option>
                                <md-option value="budgetAdjust ">预算调整</md-option>
                            </md-select>
                        </td>
                        <td><span style="float: right">来源单据类型：</span></td>
                        <td>
                            <md-select ng-model="query.source_order_type" style="margin: 0px;">
                                <md-option value="">全部</md-option>
                                <md-option value="MANUAL">手工调整</md-option>
                                <md-option value="EMS_BM_ADJUST_APPLY_H">预算调整</md-option>
                            </md-select>
                        </td>
                        <td>
                            <md-button ng-click="search_budgeteditlist()">
                                <md-icon md-svg-src="img/icons/search.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: 0px;border-bottom: 1px solid #ddd;"><span style="float: right">来源单据号：</span></td>
                        <td style="border-top: 0px;border-bottom: 1px solid #ddd;" colspan="3">
                            <input ng-model="query.source_order_code" type="text" style="width: 100%;margin: 0; ">
                        </td>
                        <td style="border-top: 0px;border-bottom: 1px solid #ddd;">
                            <md-menu>
                                <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
                                    <md-icon md-svg-src="img/icons/three.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button aria-label="side navigation">
                                            <md-icon md-svg-src="img/icons/excel_out.svg"></md-icon>
                                            <span class="ng-scope">Excel导出</span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                </table>

                <md-table-container>
                    <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected" md-progress="promise">
                    <!--<table data-md-table data-ng-model="selected" md-progress="promise">-->
                        <thead md-head data-md-order="query.order" md-on-reorder="getDesserts">
                        <tr md-row>
                            <th md-column style="">序号</th>
                            <th md-column style="">预算类型</th>
                            <th md-column style="">调整金额</th>
                            <th md-column style="">来源单据类型</th>
                            <th md-column style="">来源单号</th>
                            <th md-column style="">审核日期</th>
                            <th md-column style="">备注</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="$index" md-select-id="source_order_id" ng-repeat="item in appdata" md-auto-select="options.autoSelect">
                        <!--<tr md-row ng-repeat="item in appdata">-->
                            <td md-cell style="word-break: keep-all;white-space: nowrap;">{{$index+1}}</td>
                            <td md-cell>{{item.budget_type == 'initial'?'初始化':'预算调整'}}</td>
                            <td md-cell style="word-break: keep-all;white-space: nowrap;">{{item.before_adjust_amount}}</td>
                            <td md-cell style="word-break: keep-all;white-space: nowrap;">{{item.source_order_type == 'MANUAL'?'手工调整':'预算调整'}}</td>
                            <td md-cell style="word-break: keep-all;white-space: nowrap;">{{item.source_order_code}}</td>
                            <td md-cell style="word-break: keep-all;white-space: nowrap;">{{item.check_date}}</td>
                            <td md-cell style="word-break: keep-all;white-space: nowrap;">{{item.remark}}</td>
                        </tr>
                        </tbody>
                    </table>

                </md-table-container>
                <md-table-pagination md-label="{page: '页码导航：', rowsPerPage: '每页数据：', of: '总条数：'}"
                                     md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                                     md-total="{{query.total}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>

            </div>
        </md-dialog-content>
        <!--<md-dialog-actions>-->
            <!--<span flex></span>-->
            <!--<md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"-->
                       <!--ng-disabled="addbudgeteditlistedit.$invalid" disabled="disabled">确定</md-button>-->

        <!--</md-dialog-actions>-->
    </form>
</md-dialog>

<style>
    /*#budgeteditlistedit-dialog3-detail .md-datepicker-input-container.md-datepicker-invalid {*/
        /*border-bottom-color: rgb(224,224,224);*/
    /*}*/
    #budgeteditlistedit-dialog3-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #budgeteditlistedit-dialog3-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>