<div ng-controller="wsCtrl" class="jiehuankuan fukuan add" ng-cloak>
	<div ng-controller="wsAddAllCtrl" class="ml-width-bottom-bar">
		<!-- 新增单据开始 -->
		<md-card>
			<md-card-content>
				<div layout="row">
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>工单类型</label>
							<md-select ng-model="saveData.ssmanualorderh.order_type">
				              <md-option value="ALL" selected>
				                	综合工单
				              </md-option>
				           </md-select>
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>入账单位</label>
							<input ng-model="ruzhangdanwei.company_name" type="text" drruzhangdanwei="{'model':'ruzhangdanwei'}">
						</md-input-container>
					</div>
				</div>
				

				<div layout="row">
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>经办人</label>
							<input ng-model="orgs.user_full_name" type="text" drorganization="{'model':'orgs'}">
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>部门</label>
							<input ng-model="saveData.ssmanualfeeinvoiceh.org_name" ng-value="orgs.org_name" type="text">
						</md-input-container>
					</div>
				
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>申请日期</label>
							<input ng-model="saveData.ssmanualorderh.apply_date" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd">
						</md-input-container>
					</div>
					
				</div>
				<div layout='row'>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block">
							<label>业务描述</label>
							<textarea ng-model="saveData.ssmanualorderh.description" md-maxlength="280" maxlength="280" rows="2" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
			</md-card-content>
		</md-card>
		<!-- 新增单据结束 -->
		<!--发票类型：AP应付发票-->
		<md-card class="ml-margin-top ">
			<md-card-content>
				<md-toolbar class="md-table-toolbar md-default " style="background-color: white;">
				<div class="md-toolbar-tools " style="padding: 0">
					<div style="background-color: #2196f3;margin-left:-16px;">
						<h2 class="md-title" style="color: black;font-size: 16px;margin-left: 4px;padding-left: 20px;background-color: white;">发票类型：AP应付发票</h2>
					</div>
				</div>
			</md-toolbar>
				<div layout="row">
					<div flex class="ml-padding-right">
						
						<dr-Vendor ngrequired="true" vendormodel="apssmanualfeeinvoiceh.vendor" vendorname="" vendoraddress="" titlename="供应商名称"></dr-Vendor>

					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>供应商地址</label>
							<input ng-value="apssmanualfeeinvoiceh.vendor.vendor_site_name" type="text">
						</md-input-container>
					</div>
				</div>
				<div layout="row">
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>凭证日期</label>
							<input ng-model="apssmanualfeeinvoiceh.apply_date" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd">
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>凭证号</label>
							<input type="text" ng-model="apssmanualfeeinvoiceh.invoice_id"/>
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<dr-Currency  ngrequired="true" oldcurrencycode=""  currencycodemodel="apssmanualfeeinvoiceh.currency_code" currencynamemodel="apssmanualfeeinvoiceh.currency_name" currencymodel=""  titlename="货币类型"></dr-Currency>
					</div>
				</div>
				<div layout='row'>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block">
							<label>摘要 </label>
							<textarea ng-model="apssmanualfeeinvoiceh.reason_desc" md-maxlength="280" maxlength="280" rows="1" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
				
			</md-card-content>
			<md-toolbar class="md-table-toolbar md-default " style="background-color: white;border-bottom: 1px rgba(0,0,0,0.12) solid;">
				<div class="md-toolbar-tools " style="padding: 0">
					<div style="background-color: #2196f3;">
						<h2 class="md-title" style="color: black;font-size: 16px;margin-left: 4px;padding-left: 20px;background-color: white;">明细</h2>
					</div>
					
					<md-button aria-label="menu " class="md-add-btn" ng-click="addAPDetail($event)">
						<md-tooltip md-direction="left ">
							添加一条数据
						</md-tooltip>
						<md-icon class="iconfont ">&#xe631;</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			
			<md-table-container style="margin-bottom:32px;">
				<table md-table>
					<thead md-head>
						<tr md-row>
							<th md-column >
								摘要
							</th>
							<th md-column>
								科目组合
							</th>
							<th md-column>
								借/贷 款金额
							</th>
							<th md-column>
								操作
							</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="item in apssmanualfeeinvoiceh.ssmanualfeeinvoicels">
							<td md-cell>
								<md-input-container>
									<label>摘要</label>
									<input ng-model="item.reason_desc" type="text"/>
								</md-input-container>
							</td>
							<td  md-cell ng-init="subject=apssmanualfeeinvoiceh.ssmanualfeeinvoicels[$index]" >
								<md-input-container class="md-block" ng-show="subject.segment1!=null">
									<label>科目组合</label>
									<input  ng-value="subject.segment1_name+'->'+
										subject.segment2_name+'->'+
										subject.segment3_name+'->'+
										subject.segment4_name+'->'+
										subject.segment5_name+'->'+
										subject.segment6_name+'->'+
										subject.segment7_name" ng-click="chooseSubsAp($event,$index)" type="text" readonly/>
								</md-input-container>
								
								<md-input-container ng-show="subject.segment1==null">
									<label>科目组合</label>
									<input  type="text" ng-click="chooseSubsAp($event,$index)" readonly/>
								</md-input-container>
							</td>
							<td md-cell>
								<md-input-container>
									<label>借/贷 款金额</label>
									<input ng-model="item.approve_reim_amount" ng-change="countmoneyforap()" type="number"/>
								</md-input-container>
							</td>
							<td md-cell>
								<a ng-click="delAPDetail($event,$index)" style="cursor: pointer;color: blue" >删除</a>
							</td>
						</tr>
					</tbody>
					<tfoot md-foot>
						<tr md-row>
							<td md-cell>合计：</td>
							<td md-cell></td>
							<td md-cell>{{apssmanualfeeinvoiceh.invoice_amount}}</td>
							<td md-cell></td>
						</tr>
					</tfoot>
				</table>
			</md-table-container>

			<!--AP end-->
			
		</md-card>
			
		<!--发票类型：AR应收发票-->
		<md-card class="ml-margin-top ">
			<md-card-content>
				<md-toolbar class="md-table-toolbar md-default " style="background-color: white;">
				<div class="md-toolbar-tools " style="padding: 0">
					<div style="background-color: #2196f3;margin-left:-16px;">
						<h2 class="md-title" style="color: black;font-size: 16px;margin-left: 4px;padding-left: 20px;background-color: white;">发票类型：AR应收发票</h2>
					</div>
				</div>
			</md-toolbar>
				<div layout="row">
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>总金额</label>
							<input type="text" ng-model="arssmanualfeeinvoiceh.invoice_amount">
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<dr-Currency  ngrequired="true" oldcurrencycode=""  currencycodemodel="arssmanualfeeinvoiceh.currency_code" currencynamemodel="arssmanualfeeinvoiceh.currency_name" currencymodel=""  titlename="货币类型"></dr-Currency>
					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>申请日期</label>
							<input ng-model="arssmanualfeeinvoiceh.apply_date" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd">
						</md-input-container>
					</div>
				</div>
				<div layout="row">
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>客户</label>
							<input ng-model="arssmanualfeeinvoiceh.customer.customer_name" type="text" drcustomer="{'model':'arssmanualfeeinvoiceh.customer','company_id':ruzhangdanwei.company_id}">
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>客户地址</label>
							<input type="text" ng-value="arssmanualfeeinvoiceh.customer.customer_site_name">
						</md-input-container>
					</div>
				
					<div flex class="ml-padding-right">
						<dr-artrxtype remodel="artrxtype" custtrxtypemodel="arssmanualfeeinvoiceh.cust_trx_type" 
							custtrxtypeidmodel="arssmanualfeeinvoiceh.cust_trx_type_id"  
							custtrxtypenamemodel="arssmanualfeeinvoiceh.cust_trx_type_name" 
							ouidmodel="arssmanualfeeinvoiceh.ou_id" titlename="应类型收事务处理" itemvalue=""  ></dr-artrxtype>
					</div>
					
				</div>
				<div layout='row'>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block">
							<label>摘要 </label>
							<textarea ng-model="arssmanualfeeinvoiceh.reason_desc" md-maxlength="280" maxlength="280" rows="1" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
				
			</md-card-content>
		
			<!--发票类型：AR应收发票 end-->
			
			
		</md-card>
		
		<!--发票类型：AR应收收款-->
		<md-card class="ml-margin-top ">
			<md-card-content>
				<md-toolbar class="md-table-toolbar md-default " style="background-color: white;">
				<div class="md-toolbar-tools " style="padding: 0">
					<div style="background-color: #2196f3;margin-left:-16px;">
						<h2 class="md-title" style="color: black;font-size: 16px;margin-left: 4px;padding-left: 20px;background-color: white;">发票类型：AR应收收款</h2>
					</div>
				</div>
			</md-toolbar>
				<div layout="row">
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>总金额</label>
							<input type="text" ng-model="arsssmanualfeeinvoiceh.invoice_amount">
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<dr-Currency  ngrequired="true" oldcurrencycode=""  currencycodemodel="arsssmanualfeeinvoiceh.currency_code" currencynamemodel="arsssmanualfeeinvoiceh.currency_name" currencymodel=""  titlename="货币类型"></dr-Currency>
					</div>
				
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>客户</label>
							<input ng-model="arsssmanualfeeinvoiceh.customer.customer_name" type="text" drcustomer="{'model':'arsssmanualfeeinvoiceh.customer','company_id':ruzhangdanwei.company_id}">
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>客户地址</label>
							<input type="text" ng-value="arsssmanualfeeinvoiceh.customer.customer_site_name">
						</md-input-container>
					</div>
				</div>
				<div layout="row">
					
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>申请日期</label>
							<input ng-model="arsssmanualfeeinvoiceh.apply_date" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd">
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<dr-receivable titlename="收款类型" companyid="{{ruzhangdanwei.company_id}}" remodel="arsssmanualfeeinvoiceh.receivable"></dr-receivable>
					</div>
				
					<div flex class="ml-padding-right">
						<dr-Receiptmethode  remodel="arsssmanualfeeinvoiceh.receipt" titlename="收款方法" itemvalue="" 
							receiptmethodid="arsssmanualfeeinvoiceh.receipt_method_id"
							receiptmethodname="arsssmanualfeeinvoiceh.receipt_method_name"></dr-Receiptmethode>
					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>银行账户</label>
							<input ng-model="arsssmanualfeeinvoiceh.receipt.bank_account_num" type="text" >
						</md-input-container>
					</div>
				</div>
				<div layout='row'>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block">
							<label>摘要 </label>
							<textarea ng-model="arsssmanualfeeinvoiceh.reason_desc" md-maxlength="280" maxlength="280" rows="1" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
				
			</md-card-content>
		
			<!--发票类型：AR应收收款 end-->
		<!--发票类型：GL日记账-->
		<md-card class="ml-margin-top ">
			<md-card-content>
				<md-toolbar class="md-table-toolbar md-default " style="background-color: white;">
				<div class="md-toolbar-tools " style="padding: 0">
					<div style="background-color: #2196f3;margin-left:-16px;">
						<h2 class="md-title" style="color: black;font-size: 16px;margin-left: 4px;padding-left: 20px;background-color: white;">发票类型：GL日记账</h2>
					</div>
				</div>
			</md-toolbar>
				<div layout="row">
					<div flex class="ml-padding-right">
						
						<dr-Vendor ngrequired="true" vendormodel="glssmanualfeeinvoiceh.vendor" vendorname="" vendoraddress="" titlename="供应商名称"></dr-Vendor>

					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>供应商地址</label>
							<input ng-value="glssmanualfeeinvoiceh.vendor.vendor_site_name" type="text">
						</md-input-container>
					</div>
				</div>
				<div layout="row">
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>凭证日期</label>
							<input ng-model="glssmanualfeeinvoiceh.apply_date" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd">
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block md-cyan-theme md-input-invalid">
							<label>凭证号</label>
							<input type="text"  ng-model="glssmanualfeeinvoiceh.invoice_id"/>
						</md-input-container>
					</div>
					<div flex class="ml-padding-right">
						<dr-Currency  ngrequired="true" oldcurrencycode=""  currencycodemodel="glssmanualfeeinvoiceh.currency_code" currencynamemodel="glssmanualfeeinvoiceh.currency_name" currencymodel=""  titlename="货币类型"></dr-Currency>
					</div>
				</div>
				<div layout='row'>
					<div flex class="ml-padding-right">
						<md-input-container class="md-block">
							<label>摘要 </label>
							<textarea ng-model="glssmanualfeeinvoiceh.reason_desc" md-maxlength="280" maxlength="280" rows="1" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
				
			</md-card-content>
			<md-toolbar class="md-table-toolbar md-default " style="background-color: white;border-bottom: 1px rgba(0,0,0,0.12) solid;">
				<div class="md-toolbar-tools " style="padding: 0">
					<div style="background-color: #2196f3;">
						<h2 class="md-title" style="color: black;font-size: 16px;margin-left: 4px;padding-left: 20px;background-color: white;">明细</h2>
					</div>
					
					<md-button aria-label="menu " class="md-add-btn" ng-click="addDetail($event)">
						<md-tooltip md-direction="left ">
							添加一条数据
						</md-tooltip>
						<md-icon class="iconfont ">&#xe631;</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			
			<md-table-container style="margin-bottom:32px;">
				<table md-table>
					<thead md-head>
						<tr md-row>
							<th md-column >
								摘要
							</th>
							<th md-column>
								科目组合
							</th>
							<th md-column>
								借/贷 款金额
							</th>
							<th md-column>
								操作
							</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="item in glssmanualfeeinvoiceh.ssmanualfeeinvoicels">
							<td md-cell>
								<md-input-container>
									<label>摘要</label>
									<input ng-model="item.reason_desc" type="text"/>
								</md-input-container>
							</td>
							<td  md-cell ng-init="subject=glssmanualfeeinvoiceh.ssmanualfeeinvoicels[$index]" >
								<md-input-container class="md-block" ng-show="subject.segment1!=null">
									<label>科目组合</label>
									<input  ng-value="subject.segment1_name+'->'+
										subject.segment2_name+'->'+
										subject.segment3_name+'->'+
										subject.segment4_name+'->'+
										subject.segment5_name+'->'+
										subject.segment6_name+'->'+
										subject.segment7_name" ng-click="chooseSubsGl($event,$index)" type="text" readonly/>
								</md-input-container>
								
								<md-input-container ng-show="subject.segment1==null">
									<label>科目组合</label>
									<input  type="text" ng-click="chooseSubsGl($event,$index)" readonly/>
								</md-input-container>
							</td>
							<td md-cell>
								<md-input-container>
									<label>借/贷 款金额</label>
									<input ng-model="item.approve_reim_amount" ng-change="countmoneyforGl()" type="number"/>
								</md-input-container>
							</td>
							<td md-cell>
								<a ng-click="delGlDetail($event,$index)" style="cursor: pointer;color: blue" >删除</a>
							</td>
						</tr>
					</tbody>
					<tfoot md-foot>
						<tr md-row>
							<td md-cell>合计：</td>
							<td md-cell></td>
							<td md-cell>{{glssmanualfeeinvoiceh.invoice_amount}}</td>
							<td md-cell></td>
						</tr>
					</tfoot>
				</table>
			</md-table-container>

			<!--发票类型：GL日记账 end-->
			
		</md-card>
		
			
		</md-card>
				
		
			<!-- 底部操作区开始 -->
			<div class="ml-bottom-bar slideInUp animated" layout="row" style="z-index: 9">
				<md-button type="submit" class="md-raised md-primary ml-button ml-noshadow" aria-label="保存" ng-click="save()">保存</md-button>
			</div>
			<!-- 底部操作区结束 -->
	</div>
</div>