<md-dialog aria-label="编辑预算组织" ng-cloak style="min-width: 50%" id="busiorgdetail-dialog2-detail">
    <form name="addbusiorgdetail1" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">编辑预算组织</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top: 0px;padding-bottom: 0px">

                <div class="demo-tab" style="padding: 25px 25px 0 25px; text-align: center;">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>预算组织 (必填)</label>
                        <input ng-model="busiorgdetail.busi_org_name" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>预算编码</label>
                        <input ng-model="busiorgdetail.busi_org_code" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="text-align: left;padding-top: 20px;padding-bottom: 20px;">
                        <label>部门属性</label>
                        <md-select ng-model="busiorgdetail.org_attribute" required="">
                            <md-option value="YF">研发</md-option>
                            <md-option value="ZZ">制造</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>默认审批人</label>
                        <input  ng-model="busiorgdetail.manage_org_name" type="text" required ng-click="addarea1($event,busiorgdetail,'edit')">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>描述</label>
                        <input ng-model="busiorgdetail.busi_org_desc" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="text-align: left;padding-top: 20px;padding-bottom: 20px;">
                        <label>是否生效</label>
                        <md-select ng-model="busiorgdetail.enable_flag" required>
                            <md-option value="Y">是</md-option>
                            <md-option value="N">否</md-option>
                        </md-select>
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"
                       ng-disabled="addbusiorgdetail1.$invalid" disabled="disabled">确定</md-button>

        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    #busiorgdetail-dialog2-detail .md-datepicker-input-container.md-datepicker-invalid {
        border-bottom-color: rgb(224,224,224);
    }
    #busiorgdetail-dialog2-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #busiorgdetail-dialog2-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>