<md-dialog aria-label="修改核算组织" ng-cloak style="min-width: 50%" id="company-dialog2-detail">
    <form name="addcompany1" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">修改核算组织</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top: 0px;padding-bottom: 0px">

                <div class="demo-tab" style="padding: 25px 25px 0 25px; text-align: center;">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>入账单位编码(必填)</label>
                        <input ng-model="company.company_code" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>入账单位名称</label>
                        <input ng-model="company.company_name" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="text-align: left;padding-top: 20px;padding-bottom: 20px;">
                        <label>本位币</label>
                        <md-select ng-model="company.currency_code">
                            <md-option ng-repeat="currency1 in currencydata_form" value="{{currency1.currency_code}}">{{currency1.currency_name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="text-align: left;padding-top: 20px;padding-bottom: 20px;">
                        <label>对应OU</label>
                        <md-select ng-model="company.external_org_id">
                            <md-option ng-repeat="ou1 in ou_form" value="{{ou1.id}}">{{ou1.company_name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="text-align: left;padding-top: 20px;padding-bottom: 20px;">
                        <label>状态</label>
                        <md-select ng-model="company.enable_flag">
                            <md-option value="Y">有效</md-option>
                            <md-option value="N">失效</md-option>
                        </md-select>
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary md-raised" ng-click="delete1()"  style="background-color:red;color: white;float: right;margin-right: 3%;">删除</md-button>
            <!--<span flex></span>-->
            <md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"
                       ng-disabled="addcompany1.$invalid" disabled="disabled">确定</md-button>

        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    #company-dialog2-detail .md-datepicker-input-container.md-datepicker-invalid {
        border-bottom-color: rgb(224,224,224);
    }
    #company-dialog2-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #company-dialog2-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>