<md-dialog aria-label="编辑预算科目集" ng-cloak style="min-width: 50%" id="costbudgetall-dialog1-detail">
    <form name="addcostbudgetall1" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">编辑预算科目集</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top: 0px;padding-bottom: 0px">

                <div class="demo-tab" style="padding: 25px 25px 0 25px; text-align: center;">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>预算科目集 (必填)</label>
                        <input ng-model="costbudgetall.fee_type_tree_name" type="text" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>编码前缀</label>
                        <input ng-model="costbudgetall.prefix_code" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>描述</label>
                        <input ng-model="costbudgetall.fee_type_desc" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="text-align: left;padding-top: 20px;padding-bottom: 20px;">
                        <label>是否生效</label>
                        <md-select ng-model="costbudgetall.enable_flag">
                            <md-option value="Y">是</md-option>
                            <md-option value="N">否</md-option>
                        </md-select>
                    </md-input-container>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="answer()"  style="color: white;float: right"
                       ng-disabled="addcostbudgetall1.$invalid" disabled="disabled">确定</md-button>

        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    #costbudgetall-dialog1-detail .md-datepicker-input-container.md-datepicker-invalid {
        border-bottom-color: rgb(224,224,224);
    }
    #costbudgetall-dialog1-detail .md-datepicker-input-container{
        width: 93.9%;
        margin-left: -2px;
    }
    #costbudgetall-dialog1-detail .md-datepicker-calendar-icon{
        margin-bottom: -7px;
    }
</style>