<div ng-controller="taskManCtrl" class="task airfare">
	<div ng-controller="taskPoolCtrl">
		<md-card>
			<div class="md-toolbar-tools">
		      	<h3>
		       		<span>任务池</span>
		      	</h3> 
		    </div>  
		    <md-divider></md-divider>
			<div layout="row"  class="ml-marginT-20" layout-wrap>
				<md-input-container class="md-block ml-marginlr-10" flex="30">
		            <label>单据编号</label>
		            <input ng-model="bill_code">
				</md-input-container>
				<md-input-container class="md-block ml-marginlr-10" flex="30">
		            <label>业务描述</label>
		            <input ng-model="bill_desc">
				</md-input-container>
				<md-input-container class="md-block ml-marginlr-10" flex="30">
		            <label>任务状态</label>
		            <md-select ng-model="task_status">
						<md-option ng-repeat="x in taskStates" value="{{x.id}}">{{x.name}}</md-option>
					</md-select>
				</md-input-container>
				<div layout="row" flex="30">
					<md-input-container class="md-block ml-marginlr-10" flex>
			            <label>金额（最低值）</label>
			            <input ng-model="start_amount">
					</md-input-container>
					<span class="ml-lineheight-48 ml-marginlr-10">至</span>
					<md-input-container class="md-block ml-marginlr-10" flex>
			            <label>金额（最高值）</label>
			            <input ng-model="end_amount">
					</md-input-container>
				</div>				
				<md-input-container class="md-block ml-marginlr-10" flex="30">
		            <label>任务状态</label>
		            <md-select ng-model="emergent_level">
						<md-option value="NORMAL">一般</md-option>
						<md-option value="EXIGENCE">紧急</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div ng-hide="packUpFlag">
				<div layout="row" layout-wrap>
					<!--<div class="ml-padding-right ml-marginlr-10" flex="30" layout="row" >
						<md-input-container  class="md-block md-cyan-theme md-input-invalid ml-nomargin">
							<label>申请日期（起）</label>
							<input ng-model="applyBegin" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd"/>
						</md-input-container>
						<span class="ml-lineheight-48 ml-marginlr-10">至</span>
						<md-input-container class="md-block md-cyan-theme md-input-invalid ml-nomargin">
							<label>申请日期（止）</label>
							<input ng-model="applyEnd" type="text" date-time-picker-input display-mode="date" display-format="yyyy-MM-dd"/>
						</md-input-container>
					</div>-->
					<div layout="row" flex="30" class="ml-marginlr-10">
						<div flex>
					        <md-datepicker ng-model="start_in_time" md-placeholder="入池日期（起）" md-hide-icons="calendar" md-open-on-focus></md-datepicker>
					    </div>
					    <div class="ml-lineheight-36">至</div>
					    <div flex class="ml-marginLe-20">
					        <md-datepicker ng-model="end_in_time" md-placeholder="入池日期（止）" md-hide-icons="calendar" md-open-on-focus></md-datepicker>
					    </div>
					</div>
					<div layout="row" flex="30"  class="ml-marginlr-10">
						<div flex >
					        <md-datepicker ng-model="start_finished_time" md-placeholder="完成日期（起）" md-hide-icons="calendar" md-open-on-focus></md-datepicker>
					    </div>
					    <div class="ml-lineheight-36">至</div>
					    <div flex class="ml-marginLe-20">
					        <md-datepicker ng-model="end_finished_time" md-placeholder="完后日期（止）" md-hide-icons="calendar" md-open-on-focus></md-datepicker>
					    </div>
					</div>
					
					<!--<md-input-container  class="md-block ml-marginlr-10" flex="30">
						<label>预算科目</label>
						<input />
					</md-input-container>
				<md-input-container class="md-block ml-marginlr-10" flex="30">
		            <label>基础科目</label>
		            <md-select ng-model="basi">
						<md-option ng-repeat="x in basis" value="{{x}}">{{x}}</md-option>
					</md-select>
				</md-input-container>-->
				<md-input-container class="md-block ml-marginlr-10 " flex="30">
		            <label>单据类型</label>
		            <md-select ng-model="bill_type_code">
						<md-option ng-repeat="x in bills" value="{{x.bill_type_code}}" >{{x.bill_type_name}}</md-option>
					</md-select>
				</md-input-container>
					<!--<md-input-container class="md-block ml-marginlr-10" flex="30">
			            <label>任务池</label>
			            <md-select ng-model="state">
							<md-option value="caiwu">财务工单池</md-option>
							<md-option value="zijian">质检任务池</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block ml-marginlr-10" flex="30">
			            <label>任务组</label>
			            <md-select ng-model="states">
							<md-option value="fu">总部大额支出复审组</md-option>
							<md-option value="chu">总部运营费用初审组</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block ml-marginlr-10" flex="30">
			            <label>组别</label>
			            <md-select ng-model="taskState">
							<md-option value="chu">初审组</md-option>
							<md-option value="fu">复审组</md-option>
						</md-select>
					</md-input-container>-->
					<md-input-container class="md-block ml-marginlr-10  ml-marginT-10" flex="30">
						<label>当前处理人</label>
						<input ng-model="orgs.user_full_name" type="text" drorganization="{'model':'orgs'}">

					</md-input-container>
					<!--<md-input-container class="md-block ml-marginlr-10" flex="30">
			            <label>报账人</label>
			            <md-select ng-model="addressBook">
							<md-option value="Mip">MIP通讯录</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block ml-marginlr-10" flex="30">
			            <label>部门</label>
			            <md-select ng-model="department">
							<md-option value="xingzhengzuzhi">行政组织</md-option>
						</md-select>
					</md-input-container>-->
					<md-input-container class="md-block ml-marginlr-10  ml-marginT-10" flex="30">
			            <label>来源系统</label>
			            <input type="text" ng-model="source_system" />
					</md-input-container>
				</div>
			</div>
			 <md-divider></md-divider>
			<div class="ml-textalign-right">
	        	<md-button class="md-raised md-primary" ng-click="packUp()" ng-if="!packUpFlag">收起</md-button>
	        	<md-button class="md-raised md-primary" ng-click="packUp()" ng-if="packUpFlag">展开</md-button>
	        	<md-button class="md-raised md-primary" ng-click="refer()">查询</md-button>
	        </div>
		</md-card>
		<md-card>
        	<md-table-container>
	        	<table md-table md-row-select multiple ng-model="selected" class="ml-text-nowrap">
		        	<thead md-head md-row-select >
				        <tr md-row >
				          	<th md-column>紧急度</th>
				          	<th md-column>单据编号</th>
				          	<th md-column>单据类型</th>
				          	<th md-column>任务组</th>
				          	<th md-column>组别</th>
				          	<th md-column>处理人</th>
				          	<th md-column>任务状态</th>
				          	<th md-column>入池时间</th>
				          	<th md-column>总耗时</th>
				          	<th md-column>本节点耗时</th>
				          	<th md-column>入账单位</th>
				        </tr>
			        </thead>
			        <tbody md-body>
				        <tr md-row md-select="x.task_id" md-select-id="task_id" ng-repeat="x in datas">
				          	<td md-cell>{{x.emergent_level}}</td>
				          	<td md-cell>{{x.bill_code}}</td>
				          	<td md-cell>{{x.bill_type_code}}</td>
				          	<td md-cell>{{x.current_group_name}}</td>
				          	<td md-cell></td>
				          	<td md-cell>{{x.operator_name}}</td>
				          	<td md-cell>{{x.task_status}}</td>
				          	<td md-cell>{{x.in_time}}</td>
				          	<td md-cell>0.2</td>
				          	<td md-cell>0.2</td>
				          	<td md-cell>广东美的制冷设备有限公司-总部职能部</td>
				        </tr>
			        </tbody>
		        </table>
	        </md-table-container>
			<div class="ml-textalign-right">
	        	<md-button class="md-raised md-primary" ng-click="onGoList()">分配</md-button>
	        	<p class="ml-color-red ml-padding-right ml-margin-0" ng-hide="selectedFlag">请选择单据</p>
	       </div>
		<md-table-pagination md-label="{page: '页码导航：', rowsPerPage: '每页数据：', of: '总条数：'}" md-limit="viewData.data.pageSize" md-limit-options="[5, 10, 15]" md-page="viewData.data.pageNumber" md-total="{{viewData.data.totalRow}}" md-on-paginate="getData" md-page-select></md-table-pagination>
		</md-card>	
	</div>
</div>
